$font-stack: Roboto, sans-serif;
$primary-color: #ddd;
$primary-color-opacity: rgba($primary-color, 0.3);
$border-blue-solid: 2px solid $primary-color;
$main-width: 70%;
$mobile-width: 90%;

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

section {
    text-align: center;
    position: relative;
    height: auto;
}

body {
    margin: 0;
    font-family: $font-stack;
    letter-spacing: 1px;
    text-align: center;
}

table {
    table-layout: fixed;
    margin: 0 auto;
    width: $main-width;
    border-collapse: collapse;
    margin-bottom: 50px;

    th.sticky-header {
        position: sticky;
        top: 0;
        z-index: 10;
        text-transform: uppercase;
        background-color: $primary-color;
    }

    tr:hover {
        background-color: $primary-color-opacity;
    }

    th,
    td {
        overflow: hidden;
        border: $border-blue-solid;
        padding: 5px;
    }
}

.content1 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: $main-width;

    p {
        letter-spacing: 0;
        font-size: 18px;
    }
}

button {
    font-family: $font-stack;
    letter-spacing: 1px;
    background-color: $primary-color-opacity;
    border: $primary-color-opacity;
    color: black;
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition-duration: 0.6s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: $primary-color;
}

.header {
    overflow: hidden;
    background-color: $primary-color-opacity;
    padding: 20px 10px;
    margin-bottom: 50px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition-duration: 0.6s;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.header a.logo {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 30px;
}

.header a:hover {
    background-color: $primary-color;
    color: black;
}

.header a.active {
    background-color: $primary-color;
}

nav {
    float: right;
}

caption {
    margin-bottom: 15px;
}

input {
    width: 30%;
    padding: 6px 10px;
    margin: 8px 0;
    font-family: $font-stack;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 25px;
    outline-color: grey;
}

input::placeholder {
    color: grey;
}

.verb {
    font-family: $font-stack;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
}

.correct {
    background-color: rgba(166, 235, 166, 0.3);
}

.wrong {
    background-color: rgba(252, 184, 184, 0.3);
}

.start-over {
    margin-bottom: 34px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(grey, 0.5));
    width: 100%;
    height: 50px;
}

.dictionary {

    font-family: "Times New Roman", Times, serif;
    color: black;
    display: none;
    margin-bottom: 30px;
    width: $main-width;

    .word-annex {
        font-size: 50px;
        float:left;
        
        .word {
            display: inline;
        }
    
        .italic {
            font-style: italic;
            font-size: 18px;
        }
    
        .transcription {
            font-size: 18px;
            display: block;
            text-align: left;
        }
    }

    .definition {
        font-size: 24px;
        float: right;
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header a.logo {
        margin-left: 10px;
    }

    nav {
        float: none;
    }

    table {
        width: $mobile-width;
    }

    .content1 {
        width: $mobile-width;
    }
}

@media screen and (max-width: 715px) {
    input, button {
        width: $main-width;
    }
}